/* The whole reveal content */
.reveal {
  /* Slides container */
  .slides {
    section {
      /* Slide titles */
      h1, h2, h3, h4, h5, h6 {
        text-transform: none;
        font: inherit;
      }
      /* Slide descriptions */
      p {
      }
    }
  }
}

.reveal .slide-background.present .slide-background-content {
  background-image: url("./images/background.avif");
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: 100% 100%; */
  background-size: auto 100%;
}

/* Slide layouts */
.reveal .slides section.align-top-left {
  width: 80%;
  height: 80%;
  text-align: left;
}

.name-card {
  text-align: left;
  .header {
    display: flex;
    justify-content: left;
    img { margin: 20px; }
  }
  .body {
    font-size: 80%;
  }
}


/* text-align */
.reveal .text-align-center { text-align: center; }
.reveal .text-align-left { text-align: left; }
.reveal .text-align-center { text-align: right; }


/* flex and justify-content */
.flex-container { display: flex; }
.justify-content-center { justify-content: center; }
.justify-content-left { justify-content: left; }


/* Colours */
.color-black { color: black; }
.color-silver { color: silver; }
.color-gray { color: gray; }
.color-white { color: white; }
.color-maroon { color: maroon; }
.color-red { color: red; }
.color-purple { color: purple; }
.color-fuchsia { color: fuchsia; }
.color-green { color: green; }
.color-lime { color: lime; }
.color-olive { color: olive; }
.color-yellow { color: yellow; }
.color-navy { color: navy; }
.color-blue { color: blue; }
.color-teal { color: teal; }
.color-aqua { color: aqua; }

/* Slide-specific CSS values */
[data-key="background-black"] {
  color: white;
  background-color: black;
}

.square {
  width: 100px;
  height: 100px;
}

.height-30 {
  height: 30px;
}

.rotate-right {
  /* animation: app-spin infinite 20s linear; */
  animation-name: app-spin;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-timing-function: linear;
}

@keyframes app-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grow-right {
  animation-name: grow-right;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes grow-right {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
